<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style.css">
    <title>Desert Mushrooms</title>
</head>

<body>

    {% if alert %}
    <script>
        alert('{{ alert }}');
    </script>
    {% endif %}
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="#">
        </a>

        <div class="navbar-expand-lg ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/customers">Customers</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/employees">Employees</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/spawnSupplier">Spawn Suppliers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/materialSupplier">Material Suppliers</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/scenarios">Scenarios</a>
                </li>

            </ul>
        </div>
    </nav>


    <div class="row" style="margin-top: 3rem;">
        <h3 class="text-center">Material Supplier Data</h3>
        {% if materialSupplierDetails %}
        <table class="table table-bordered mx-auto w-auto table-striped table-hover">
            <thead>
                <tr>
                    <th>Supplier ID</th>
                    <th>Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>Zip</th>
                </tr>
            </thead>

            <tbody>
                {% for supplier in materialSupplierDetails %}
                <tr>
                    <td>{{ supplier[0] }}</td>
                    <td>{{ supplier[1] }}</td>
                    <td>{{ supplier[4] }}</td>
                    <td>{{ supplier[2] }}</td>
                    <td>{{ supplier[3] }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% endif %}
    </div>

    <div class="container justify-content-between">
        <div class="singleRow">
            <div class="col1">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Insert Record
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Insert Form</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/insertMaterialSupplier" style="margin: 15px;">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="name">Name</label>
                                        <input type="text" id="name" class="form-control" name="name" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="street">Street</label>
                                        <input type="text" id="street" class="form-control" name="street"
                                            required />
                                    </div>
                                    
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="city">City</label>
                                        <input type="text" id="city" class="form-control" name="city" required />
                                    </div>


                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="zip">Zip</label>
                                        <input type="number" id="zip" class="form-control" name="zip"
                                            required />
                                    </div>

                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        Insert
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal">
                    Update Record
                </button>
                <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update Form</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/updateMaterialSupplier" style="margin: 15px;">

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="id">Supplier ID</label>
                                        <input type="number" id="id" class="form-control" name="id" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="name">Name</label>
                                        <input type="text" id="name" class="form-control" name="name" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="street">Street</label>
                                        <input type="text" id="street" class="form-control" name="street" />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="city">City</label>
                                        <input type="text" id="city" class="form-control" name="city"
                                             />
                                    </div>
                                    
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="zip">Zip</label>
                                        <input type="number" id="zip" class="form-control" name="zip"/>
                                    </div>


                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        Update
                                    </button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    Delete Record
                </button>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete Form</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="/deleteMaterialSupplier" style="margin: 15px;">
                                    <!-- CustID input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="id">Material Supplier ID</label>
                                        <input type="text" id="id" class="form-control" name="id" required />
                                    </div>
            
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-block mb-4">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>